/* area do formulario do perfil */
.perfilform-area {
    background-color: rgb(246, 246, 246);
    height: auto;
    padding: 0 4em;
}

/* div que guarda o perfil */
.perfil-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 3.2em 0 0 0;
}

/* itens individuais do perfil (legenda + campo de entrada)*/
.perfilform-item {
    display: inline-block;
    width: 50%;
    padding: 0.8em 0.4em 0 0.4em;
}

/* campo de entrade do item do perfil */
.perfilform-item .text-input {
    width: 100%;
    margin: 0.4em 0 0 0;
    padding: 0.4em;
    
    font-size: 1.2em;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189);

    color: rgb(110, 110, 110)
    
}

/* legenda do item do perfil */
.perfilform-item div {
    color: rgb(80, 80, 80);
}

/* estrutura básica de um button */
.my-button {
    border-radius: 4px;
    padding: 0.8em 0 0.8em 0;
    font-size: 0.8em;
    width: 100%;
}

/* o div que guarda o botão de atualizar perfil */
.perfilform-submit {
    width: 40%;
    padding: 2.4em 0 1.6em 0;
}

/* o botão de atualizar perfil */
.perfil-form .my-button {
    border: none;
    background-color: #39cc6c;

    font-size: 1em;

    color: #FFF;
}
.perfil-form .my-button:hover {
    background-color: #1fa54e;
}
.perfil-form .my-button:active {
    background-color: #4ace78;
    border: 1px solid #1fa54e;
}