* {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}

.img-superior {
    margin: 0;
    height: auto;
    flex-grow: 6;
    background-size: cover;
    background-image: url("../img/restaurant.jpeg");
}