* {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
}

.img-lateral {
    margin: 0;
    height: 100%;
    width: 66%;
    background-size: cover;
    background-image: url("img/sabri-tuzcu-365440.jpg");
}

.login-area {
    display: table;
    margin: 0;
    width: 34%;
    height: 100vh;
    background-color: rgb(246, 246, 246);
}

.dinnerdash-tittle {
    font-family: 'Amaranth', sans-serif;
    color: rgb(54, 54, 54);
    font-weight: normal;
}

.login-container {
    display: table-cell;
    vertical-align: middle;
}

.test {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    align-self: center;

    margin: 0 4em;
}

.dinnerdash-tittle {
    text-align: left;
    font-size: 2.4em;
    margin: 0 0 1.2em 0;

    color: rgb(77, 77, 77);
}

.submit-login {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.input-text {
    margin: 0.4em 0 0.8em 0;
    padding: 0.4em;
    font-size: 0.8em;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189);
}

.form-legenda {
    color: rgb(80, 80, 80);
    font-size: 0.55em;
}

.fazer-cadastro-div {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 2.4em 0 0 0;
}

.button-login {
    border: none;
    background-color: #39cc6c;

    color: #FFF;
}

.button-login:hover {
    background-color: #1fa54e;
}

.button-login:active {
    background-color: #4ace78;
    border: 1px solid #1fa54e;
}

.hr-divider {
    margin: 2.4em 0 0 0;

    width: 100%;
    align-self: center;
    border: none;
    height: 1px;
    
    background-color: rgb(189, 189, 189);
}

.my-button {
    border-radius: 4px;
    padding: 0.8em 0 0.8em 0;
    font-size: 0.8em;
    width: 100%;
}

.button-signup {
    border: 1px solid #39cc6c;
    background-color: #FFF;

    color: #39cc6c;
}

.button-signup:hover {
    background-color: #39cc6c;
    color: #FFF;
}

.button-signup:active {
    background-color: #1fa54e;
    color: #FFF;
}

.signup-legenda {
    color: rgb(80, 80, 80);
    font-size: 0.8em;
}