* {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    align-items: stretch;
}

.img-lateral {
    margin: 0;
    height: 100%;
    flex-grow: 6;
    background-size: cover;
    background-image: url("img/sabri-tuzcu-365440.jpg");
}

@media only screen and (max-width: 600px) {
    .img-lateral {
        display: none;
    }
}